# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Hardhat files
smart-contracts/cache/
smart-contracts/artifacts/

# Frontend build
frontend/build/

# Backend build
backend/dist/
